<Configuration>
	<Settings>
		<ByReference>0</ByReference>
		<TimeOut>10</TimeOut>
		<PageCoding>0</PageCoding>
		<CssCoding>0</CssCoding>
		<HtmlFilePath>/</HtmlFilePath>
		<HtmlFileName>Index.html</HtmlFileName>
		<FlashFilePath>/images/</FlashFilePath>
		<CssFilePath>/images/css/</CssFilePath>
		<JsFilePath>/images/js/</JsFilePath>
		<BackgroundImageFilePath>/images/</BackgroundImageFilePath>
		<PictureFilePath>/images/</PictureFilePath>
	</Settings>
</Configuration>